{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "title" %}{% blocktrans with br=ver.revbranch %}Information on {{ br }}{% endblocktrans %}{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% blocktrans with br=ver.revbranch %}Information for {{ br }}{% endblocktrans %}</h1>
</div>

<div class="row-fluid">
    <div class="span5">
        <dl>
            <dt>{% trans "Version" %}
            <dd>{{ ver.shortrev }}

            <dt>{% trans "Branch" %}
            <dd>{{ ver.branch }}

            <dt>{% trans "Date" %}
            <dd>{{ ver.date|naturaltime }}

        </dl>

        {% include "downloads-links.html" %}
    </div>
    <div class="span7">
        <dl>
            <dt>{% trans "Commit" %}
            <dd class="commithash"><a href="{{ GCODE_URL }}source/detail?r={{ ver.hash }}">{{ ver.hash }}</a></dd>

            <dt>{% trans "Change author" %}
            <dd>{{ ver.author }}

            <dt>{% trans "Change description" %}
            <dd><pre>{{ ver.description }}</pre>
        </dl>
    </div>
</div>

{% endblock %}
