{% if ver.win64_url %}
<a class="btn always-ltr {% if USER_OS == "unknown" or USER_OS == "win" %}{{ primclass|default:"btn-primary" }}{% endif %} x64" href="{{ ver.win64_url }}"><i class="icon-download-alt {% if USER_OS != "osx" and USER_OS != "ubu" %}icon-white{% endif %}"></i> Windows x64</a>
{% endif %}
{% if ver.win32_url %}
<a class="btn always-ltr {% if USER_OS == "unknown" or USER_OS == "win" %}{{ primclass|default:"btn-primary" }}{% endif %} x86" href="{{ ver.win32_url }}"><i class="icon-download-alt {% if USER_OS != "osx" and USER_OS != "ubu" %}icon-white{% endif %}"></i> Windows x86</a>
{% endif %}
{% if ver.osx_url %}
<a class="btn always-ltr {% if USER_OS == "unknown" or USER_OS == "osx" %}{{ primclass|default:"btn-primary" }}{% endif %} osx" href="{{ ver.osx_url }}"><i class="icon-download-alt {% if USER_OS != "win" and USER_OS != "ubu" %}icon-white{% endif %}"></i> Mac OS X</a>
{% endif %}
{% if ver.ubu_url %}
<a class="btn always-ltr {% if USER_OS == "unknown" or USER_OS == "ubu" %}{{ primclass|default:"btn-primary" }}{% endif %} ubu" href="{{ ver.ubu_url }}"><i class="icon-download-alt {% if USER_OS != "win" and USER_OS != "osx" %}icon-white{% endif %}"></i> Ubuntu 12.10 (amd64 .deb)</a>
{% endif %}
