{% load i18n %}
{% load language %}

<!DOCTYPE html>

<html dir="{{ LANGUAGE_CODE|langdir }}">
    <head>
        <meta charset="utf-8">
        <title>{% trans "Official Dolphin Emulator Website" %} - {% block "title" %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="Dolphin Emulator" />
        <meta property="og:type" content="product" />
        <meta property="og:url" content="https://www.facebook.com/dolphin.emu" />
        <meta property="og:image" content="https://sphotos-a.ak.fbcdn.net/hphotos-ak-prn1/73367_365599063538538_1010982140_n.png" />
        <meta property="og:site_name" content="Dolphin Emulator" />
        <meta property="fb:admins" content="1064682820" />

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/dolphin.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}sprites/nav.css" rel="stylesheet">
        {% block "extracss" %}
        {% endblock %}

        {% if GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_setDomainName', 'dolphin-emu.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

          window.google_analytics_uacct = "{{ GOOGLE_ANALYTICS_ACCOUNT }}";
        </script>
        {% endif %}
    </head>

    <body>
        {% block "bodystart" %}{% endblock %}

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url home %}"><i class="logo sprite-nav-logo-small"></i>{% trans "Dolphin Emulator" %}</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-left">
                            <li><a href="{% url downloads-index %}">{% trans "Download" %}</a></li>
                            <li><a href="{% url media-all %}">{% trans "Screenshots" %}</a></li>
                            <li><a href="{% url docs-faq %}">{% trans "FAQ" %}</a></li>
                            <li><a href="{% url docs-guides-index %}">{% trans "Guides" %}</a></li>
                            <li><a href="{% url compat-index %}">{% trans "Compatibility" %}</a></li>
                            <li><a href="{{ FORUM_URL }}">{% trans "Forum" %}</a></li>
                            <li><a href="{{ WIKI_URL }}">{% trans "Wiki" %}</a></li>
                            <li><a href="{{ GCODE_URL }}">{% trans "Code" %}</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="flag curr-flag sprite-nav-{{ LANGUAGE_CODE|short }}"></div> {{ LANGUAGE_CODE|langname }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                {% for langcode, langname in LANGUAGES %}
                                    {% if langcode != LANGUAGE_CODE|short %}
                                    <li><a href="//{{ langcode|to_subdomain }}{{ request.path }}?nocr=true"><div class="flag sprite-nav-{{ langcode }}"></div><span dir="{{ langcode|langdir }}">{{ langname }}</span></a></li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block "outerbody" %}
        {% endblock %}

        <div class="container">
            {% if COUNTRY_REDIRECT %}
            <div class="always-ltr alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                You have been redirected to the <strong>{{ LANGUAGE_CODE|langname }}</strong>
                version of the website based on your browser language preferences.
                If you prefer the english version, <a href="//{{ DEFAULT_HOST }}{{ request.path }}?nocr=true">click here to go back</a>.
            </div>
            {% endif %}
            {% block "body" %}
            {% endblock %}
        </div>

        <footer>
        <p class="footer-text">
            {% blocktrans %}
            &copy; 2012 Dolphin Emulator Project -
            <a href="https://bitbucket.org/delroth/dolphin-web/">Website source code</a>
            {% endblocktrans %}
        </p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block "extrajs" %}
        {% endblock %}
    </body>
</html>
