/* LTR/RTL util classes */
.always-ltr {
    direction: ltr;
}

.always-rtl {
    direction: rtl;
}

.default-dir {
    direction: ltr;
}

html[dir="rtl"] .default-dir {
    direction: rtl;
}

/* Align some table text cells to the right (always english ltr text) */
html[dir="rtl"] table.versions-list td.description {
    text-align: right;
}

html[dir="rtl"] table.compat-list td.title {
    text-align: right;
}

/* Fix Bootstrap rows in RTL */
html[dir="rtl"] [class*="span"] {
    float: right;
    margin-right: 0;
    margin-left: 0;
}

html[dir="rtl"] .row-fluid [class*="span"] {
    float: right;
    margin-right: 2.127659574%;
    *margin-right: 2.0744680846382977%;
    margin-left: 0;
}

html[dir="rtl"] .row-fluid [class*="span"]:first-child {
    margin-right: 0;
}

html[dir="rtl"] ul.rtl-fixed, html[dir="rtl"] ol.rtl-fixed {
    padding: 0 40px 0 0;
    margin: 0 0 9px 0;
}

/* Fix .container in .hero-unit */
@media (min-width: 1200px) {
    .hero-unit .container {
        width: 1100px !important;
    }
}

.navbar-inner { border-radius: 0; }

.navbar .brand i.logo {
    display: inline-block;
    margin-bottom: -5px;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: 10px;
}

html[dir="rtl"] .navbar .brand i.logo {
    margin-left: 10px;
    margin-right: 0px;
}

h1 a.anchor, h3 a.anchor {
    font-size: 60%;
    visibility: hidden;
}

h1:hover a.anchor, h3:hover a.anchor {
    visibility: visible;
}

#gallery {
    text-align: center;
}

#gallery > a {
    border: 1px solid #777;
    display: inline-block;
    margin: 0 1.5em 1.5em 0;
    padding: 4px;
}

#download-dev a.all-branches {
    font-weight: bold;
}

.commithash {
    font-family: monospace;
}

.versions-list {
    width: 100%;
    margin-bottom: 1em;
}

.versions-list td.version {
    font-weight: bold;
    text-align: center;
    width: 10%;
}

.versions-list td.reldate {
    text-align: center;
    width: 15%;
}

.versions-list td.description {
    width: 65%;
    font-style: italic;
}

.versions-list tr.infos td {
    padding-bottom: 0.5em;
}

div#download-stable, div#download-dev {
    margin-bottom: 3em;
}

div#download-stable h1, div#download-dev h1, div#download-source h1 {
    margin-bottom: 0.5em;
}

.versions-list tr:first-child {
    border-top: 1px solid #CCC;
}

.versions-list tr.infos td {
    padding-top: 0.6em;
}

.versions-list tr.download {
    border-bottom: 1px solid #CCC;
}

.versions-list tr.download td {
    padding-bottom: 0.6em;
}

.versions-list li span.version {
    display: inline-block;
    width: 8em;
}

.versions-list li span.reldate {
    display: inline-block;
    width: 14em;
}

.hero-unit h1 {
    margin-top: 0.5em;
}

.download-btn {
    margin-top: 2.0em;
}

.fb-like {
    height: 20px;
    display: inline-block;
    margin-right: 1em;
}

.g-plusone {
    height: 20px;
    display: inline-block;
}

#sshot-carousel {
    box-shadow: 0 0 6px #222222;
    margin-bottom: 0;
}

.hero-unit .requirements {
    font-size: 0.9em;
    line-height: 1.4em;
}

li.faq-title {
    font-size: 0.9em;
    line-height: 1.1em;
}

section.faq-section div.faq-answer {
    margin-bottom: 1.5em;
    text-align: justify;
}

section.faq-section {
    margin-bottom: 3em;
}

footer {
    margin-top: 0.5em;
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
}

footer p.footer-text {
    text-align: center;
    color: #888;
}

.nav .flag {
    margin-right: 0.7em;
    margin-bottom: -5px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: center;
}

html[dir="rtl"] .nav .flag {
    margin-left: 0.7em;
    margin-right: 0;
}

.nav .curr-flag {
    border: 0;
}

.home-section p {
    text-align: justify;
}

.ratings-expl ul {
    list-style: none;
    margin-top: 1.6em;
}

.ratings-expl li {
    margin-bottom: 1.1em;
}

.ratings-expl li img {
    margin-right: 0.5em;
    margin-top: -0.5em;
}

.ratings-stats dl {
    margin-right: 1em;
    font-size: 0.85em;
}

.ratings-stats .progress .bar {
    height: 12px;
}

.ratings-stats .progress {
    height: 12px;
    margin-bottom: 6px;
}

.compat-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.compat-list tbody tr {
    vertical-align: center;
}

.compat-list tbody tr:nth-child(2n) {
    background-color: #eee;
}

.compat-list tbody tr:nth-child(2n+1) {
    background-color: #fff;
}

.compat-list th.category, .compat-list td.category {
    width: 5%;
}

.compat-list th.banner, .compat-list td.banner {
    width: 10%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.compat-list td.banner div.bnr {
    width: 96px;
    height: 32px;
    margin: 0 auto;
}

.compat-list td.category img {
    margin-top: 1px;
    margin-bottom: 1px;
}

.compat-list th.title, .compat-list td.title {
    width: 60%;
}

.compat-list td.title {
    text-align: left;
    padding-left: 0.5em;
}

.compat-list th.rating, .compat-list td.rating {
    width: 12%;
}

.compat-list th.update, .compat-list td.update {
    width: 13%;
}

.pagination-small {
    height: 24px;
}

.pagination-small a {
    padding: 0 7px;
    line-height: 24px;
}

.col-row {
    overflow: hidden;
}

.col-row .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color:#f5f5f5;
    border: 0;
    border-radius: 0;
}

.ratings-expl, .ratings-stats {
    margin-bottom: 20px;
}

.back-link {
    font-weight: bold;
}
