{% extends "_base.html" %}

{% load i18n %}

{% block "title" %}{% trans "Guides" %}{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% trans "Guides and documentation" %}</h1>
</div>

<dl>
{% for guide in guides %}
<dt class="always-ltr"><a href="{{ guide.get_absolute_url }}">{{ guide.title }}</a>
<dd class="always-ltr"><p>{{ guide.description }}</p>
{% empty %}
<dt><em>{% trans "No published guide available" %}</em></ul>
{% endfor %}
{% endblock %}
