{% extends "_base.html" %}

{% load i18n %}
{% load humanize %}
{% load thumbnail %}

{% block "title" %}{% trans "GameCube/Wii games on PC" %}{% endblock %}

{% block "bodystart" %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block "body" %}
<div class="hero-unit">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h1>{% trans "Dolphin Emulator" %}</h1>
                <p>
                {% trans "Play GameCube and Wii games in 1080p on your PC." %}
                </p>

                <p class="download-btn"><a class="btn btn-primary btn-large" href="{% url downloads-index %}?ref=btn">{% blocktrans %}Download {{ last_release }} now for Windows, Mac and Linux »{% endblocktrans %}</a></p>

                <p class="requirements">
                {% blocktrans %}
                <strong>Minimal requirements</strong>: SSE2 compatible CPU, Shader Model 3.0 GPU, 2GB of RAM, 50MB of disk space
                {% endblocktrans %}
                </p>
                <p class="requirements">
                    <a href="{% url docs-faq %}#hardware-system-requirements">{% trans "More information about hardware requirements" %}</a>
                </p>
                <div class="fb-like" data-href="http://www.facebook.com/dolphin.emu" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div>
                <div class="g-plusone" data-size="small" data-href="http://dolphin-emu.org/"></div>
            </div>
            <div class="span5">
                <div id="sshot-carousel" class="always-ltr carousel slide">
                    <div class="carousel-inner">
                        {% for image in featured_images %}
                        <div class="{% if forloop.first %}active {% endif %}item">
                            {% thumbnail image.image "640x360" crop="center" format="JPEG" quality=80 as big %}
                            <img src="{{ big.url }}" alt="{{ image.game_name }}">
                            <div class="carousel-caption">
                                <h4>{{ image.game_name }}</h4>
                            </div>
                            {% endthumbnail %}
                        </div>
                        {% endfor %}
                    </div>

                    <a class="carousel-control left" href="#sshot-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#sshot-carousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 home-section">
        <h2>{% trans "Improved graphics" %}</h2>
        {% url media-all as MEDIA_PAGE_URL %}
        <p>
        {% blocktrans %}
        The Wii only renders games at a 480p resolution. Dolphin supports
        720p, 1080p and even higher definitions for all of your
        GameCube and Wii games. <a href="{{ MEDIA_PAGE_URL }}">View screenshots
        of games played on Dolphin</a>.
        {% endblocktrans %}
        </p>
    </div>

    <div class="span4 home-section">
        <h2>{% trans "Use your favorite controller" %}</h2>
        <p>
        {% blocktrans %}
        Not a big fan of the GameCube controller and the Wiimote? You can
        play games with your favorite PC controller, or even with keyboard
        and mouse! Wiimotes are still supported, including Wii Motion Plus
        for games that require it.
        {% endblocktrans %}
        </p>
    </div>

    <div class="span4 home-section">
        <h2>{% trans "Recent Dolphin news" %}</h2>
        <p>
        <ul class="rtl-fixed">
            {% for news in latest_news %}
            <li><a class="always-ltr" href="{{ news.forum_url }}">{{ news.title }}</a>
                ({% trans "by" %} {{ news.author }}, {{ news.posted_on|naturaltime }})</li>
            {% endfor %}
        </ul>
        </p>
    </div>
</div>

<div class="row-fluid">
</div>

<div class="row-fluid">
    <div class="span4 home-section">
        <h2>{% trans "Great compatibility" %}</h2>
        <p>
        {% url compat-index as COMPAT_URL %}
        {% blocktrans %}
        Dolphin can play most of the GameCube and Wii games collection
        without issues. New Wii releases often work on Dolphin from day one.
        Wiiware and Virtual Console games are also supported. Check out
        the <a href="{{ COMPAT_URL }}">Dolphin compatibility list</a>
        or the <a href="{{ WIKI_URL }}">Dolphin wiki</a> for more details.
        {% endblocktrans %}
        </p>
    </div>

    <div class="span4 home-section">
        <h2>{% trans "Helpful community" %}</h2>
        <p>
        {% url docs-faq as FAQ_URL %}
        {% blocktrans %}
        Installation issues? Trying to figure out the best settings for a
        game? Or just interested in discussion about GameCube and Wii games
        you like? If the <a href="{{ FAQ_URL }}">Frequently Asked Questions</a>
        can't help you, other Dolphin users may be willing to help you over at the
        <a href="{{ FORUM_URL }}">official discussion forums</a>.
        {% endblocktrans %}
        </p>
    </div>

    <div class="span4 home-section">
        <h2>{% trans "Free and Open Source" %}</h2>
        <p>
        {% blocktrans %}
        The Dolphin Emulator is developed by volunteers from all around the
        world and distributed free of charge. Want to help the project improve?
        Grab the emulator source code from <a href="{{ GCODE_URL }}">Google
        Code</a> and start hacking!
        {% endblocktrans %}
        </p>
    </div>
</div>

{% endblock %}

{% block "extrajs" %}
<script>
    $('.carousel').carousel({
        interval: 10000
    });

    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
{% endblock %}
